 EXPO_PUBLIC_MOVIE_API_KEY=
 EXPO_PUBLIC_APPWRITE_PROJECT_ID=
 EXPO_PUBLIC_APPWRITE_DATABASE_ID=
 EXPO_PUBLIC_APPWRITE_COLLECTION_ID=
 EXPO_PUBLIC_APPWRITE_COLLECTION_ID2=
 EXPO_PUBLIC_APPWRITE_COLLECTION_ID3=
 EXPO_PUBLIC_APPWRITE_STORAGE_BUCKET_ID1=
 EXPO_PUBLIC_STREAM_API_KEY = 